/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*# Generics */

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    position: relative;

}

section {
    padding-top: 50px;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: #000;
    text-decoration: none;
}

/*# Utils */

.container-lg {
    max-width: 960px;
    margin: 0 auto;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
}

.box40 {
    flex-basis: 40%;
    background-color: green;
}

.box-50 {
    flex-basis: 50%;
    background-color: blue;
}

.box60 {
    flex-basis: 60%;
    background-color: orangered;
}

.flex {
    display: flex;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex-basis: calc(100% / 3 - 20px / 3);
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

.col-100 {
    flex-basis: 100%;
    padding: 0 20px;
}

.col-20 {
    flex-basis: calc(100% / 5);
    border: 1px dashed white;
}

.bord {
    border: 1px dashed black;
}

/** header  */

.navbar {
    background-color: dodgerblue;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;

    justify-content: space-between;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    background-color: #fff;
}

.jumbo {
    background-color: #b4d0e7;
    padding-top: 50px;
}

/** main */

.row span {
    display: block;
}

.full-page {
    height: 100vh;

    display: flex;
    flex-direction: column;

}

.card {
    background-color: red;
    height: 50%;
    width: 50%;
}

/** footer */

footer {
    background-color: #000;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 30px;
}